<app-header></app-header>

<main>
    <ul id="users">
        <li>
            <app-user [user]="users[0]" (select)="onUserSelected($event)"/>
        </li>
        <li>
            <app-user [user]="users[1]" (select)="onUserSelected($event)"/>
        </li>
        <li>
            <app-user [user]="users[2]" (select)="onUserSelected($event)"/>
        </li>
        <li>
            <app-user [user]="users[3]" (select)="onUserSelected($event)"/>
        </li>
    </ul>
    <app-tasks [name]="SelectedUser?.name"/>
</main>